
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: lucida sans;
    font-size: 1.2rem;
    line-height: 1.6;
}


#hero {
    background-image: url('/marvel.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.6); 
}

#hero .hero-content h1 {
    font-size: 4rem;
    font-family: lucida sans;
    letter-spacing: 6px;
    margin-bottom: 10px;
    text-transform: uppercase;
 
}

#hero .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#hero .btn {
    background-color: #E62429; 
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#hero .btn:hover {
    background-color: #c31421;
}

/* About Section */
#about {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
    padding: 60px 20px;
    color: #fff;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: lucida sans;
    text-transform: uppercase;
}

#about .timeline {
    display: flex;
    gap: 30px;
    justify-content: center;
}

#about .timeline-item {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#about .timeline-item h3 {
    font-size: 1.5rem;
    color: #9b8404(64, 99%, 36%);
}

#about .timeline-item p {
    font-size: 1rem;
}

/* Featured Movies Section */
#featured {
    padding: 50px 20px;
    text-align: center;
    background-color: #111;
}

#featured h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #fff;
    font-family: Tahoma;
    
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.movie-card {
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.movie-card h3 {
    font-size: 1.5rem;
    margin: 15px 0;
    color: #fff;
}

.movie-card p {
    font-size: 1rem;
    color: #ccc;
}

.movie-card:hover {
    background-color: #444;
}

.movie-card:hover img {
    transform: scale(1.1);
}

.button-link
{
    font-size: 15px;
    background-color: #E62429;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    color:#fff;
    display: inline-block;
    text-decoration: none;
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.button-link:hover 
{
    background-color: #E62429; 
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #hero .hero-content h1 {
        font-size: 2.5rem; 
    }

    #hero .hero-content p {
        font-size: 1.2rem; 
    }

    #about h2 {
        font-size: 2rem; 
    }

    #about .timeline {
        flex-direction: column; 
        align-items: center;
    }

    #about .timeline-item {
        width: 100%;
        margin-bottom: 20px;
    }

    #featured h2 {
        font-size: 2rem;
    }

    .movie-grid {
        grid-template-columns: 1fr 1fr;
    }

    .movie-card img {
        height: 200px; 
    }

    .movie-card h3 {
        font-size: 1.2rem; 
    }

    .movie-card p {
        font-size: 0.9rem; 
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    #hero .hero-content h1 {
        font-size: 3rem; 
    }

    #hero .hero-content p {
        font-size: 1.3rem; 
    }

    #about h2 {
        font-size: 2.2rem; 
    }

    #about .timeline {
        gap: 20px;
    }

    #featured h2 {
        font-size: 2.2rem; 
    }

    .movie-grid {
        grid-template-columns: repeat(2, 1fr); 
    }

    .movie-card img {
        height: 250px; 
    }

    .movie-card h3 {
        font-size: 1.3rem; 
    }

    .movie-card p {
        font-size: 1rem;
    }
}


@media (min-width: 1024px) {
    #hero .hero-content h1 {
        font-size: 4rem; 
    }

    #hero .hero-content p {
        font-size: 1.5rem;
    }

    #about h2 {
        font-size: 2.5rem;
    }

    #about .timeline {
        gap: 30px;
    }

    #featured h2 {
        font-size: 2.5rem; 
    }

    .movie-grid {
        grid-template-columns: repeat(4, 1fr); 
    }

    .movie-card img {
        height: 300px; 
    }

    .movie-card h3 {
        font-size: 1.5rem; 
    }

    .movie-card p {
        font-size: 1rem; 
    }
}
